 h1, h2, h3, p, a, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
 }
 img {
  display: block;
 }
.main-conteiner {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}
.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
    border: 1px solid #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
   display: flex;
  justify-content: center; 
}
/* .slogan {
  width: 100%;
} */
p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em; 
    }
nav a, address a, footer a {
 text-decoration: none;
}
ul li {
  list-style-type: none;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* nav */
.address-link {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
}
.address-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
 .nav, .nav-link, .address ul {
  display: flex;
    flex-direction: row;
}
.nav {
  gap: 76px;
  align-items: center;

}
.nav-link, .address ul {
  gap: 40px;
}
.webstudio, .nav-link, .address {
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0;
}
.baner {
 margin-right: 76px;
}
.nav-link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link a:hover,
.address-link:hover {
  color: #404bbf;
}
.nav-studio:active,
.nav-studio:focus {
  color: #404bbf;
}
.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-studio {
  color: #2e2f42;
  padding: 24px 0;
}

.slogan-title {
  line-height: 1.07;
  max-width: 496px;
  /* margin-bottom: 46px; */
  margin: 0 auto;
}
.slogan {
  display: flex;
  flex-direction: column;
  padding: 188px 0;
  justify-content: center;
  background: #2e2f42;
  /* qwidth: 1440px; */

}
.slogan-button {
  display: block;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
    /* qbox-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  /* qborder-radius: 4px; */

}
.slogan-button:hover,
.slogan-button:focus
 {
  background-color: #404BBF;
}
.company {
padding: 120px 0;

} 
.about-company {
  display: flex;
  flex-direction: row;
  gap: 24px;

  max-width: 1128px;
}

.about-company-conteiner {
  display: flex;
  justify-content: center;
  padding: 120px 156px;
  
}
.about-company li {
  width: calc((100% - 24px * 3) / 4);
}
/*---------------  */
/* .about-company-title {
  visibility: hidden;
} */
/* -------------- */
.our-team {
    display: flex;
    flex-direction: column;
      padding-top: 120px;
      padding-bottom: 120px;
}
.our-team-ul{
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}
.our-team-text {
  font-size: 16px;
}

.our-team {
  background-color: #F4F4FD;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-li {
  background-color: #FFFFFF;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.our-team-li-text {
  padding: 32px 0;
  text-align: center;
}
.title-h-three {
  margin-bottom: 8px;
}
/* .our-team img {
  qwidth: 264px;
} */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.portfolio {
  padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-li {
  width: calc((100% - 48px) / 3);
}
.portfolio-li-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title{
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
/* .portfolio-title img {
  qwidth: 360px;
} */

/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px 156px;
      max-width: 264px;
      padding: 100px 0;

}
.footer-text {
  color: #f4f4fd;
  padding-top: 16px;
}
.footer-studio {
  color: #f4f4fd;
}